<%= render partial: 'layouts/header_banner', locals: { title: 'Votre messagerie' } %>

<div class="wrapper">
  <div class="col-2"></div>
  <div class="col-1">
    <%= render partial: 'conversation_list' %>
  </div>
</div>
