<ul>
  <% @announcements.each do |announcement| %>
    <li class="result-search">
      <%= render partial: 'announcements/item', locals: { announcement: announcement } %>
    </li>
  <% end %>
</ul>
