<%= render partial: 'layouts/header_banner', locals: {title: 'Résultats de la recherche'} %>


<div class="wrapper">

  <div class="col-2">
    <h2>Les annonces proches de vous</h2>
    <%= render partial: 'list', locals: { announcements: @announcements } %>
  </div>

  <div id="conversations" class="col-1">
    <h2>Meet For Meal</h2>
    <p>
      Le principe du site est simple: Trouver un partenaire pour partager un repas.
    </p>
    <p>
      Vous êtes seul ce midi (/soir) ? Recherchez un partenaire aux alentours afin de partager un moment ensemble autour d’un repas. Vous pouvez effectuer une recherche par type de restaurant ou par tranche horaires et choisir, parmi la liste des personnes libres, celle qui vous intéresse ! La visibilité de ses centres d’intérêts vous aidera à choisir un sujet de conversation.
    </p>
    <p>
      Personne ne vous intéresse ? Postez votre propre annonce !
      La recherche de partenaire est effectuée dans un rayon de 1km aux alentours de votre géolocalisation.
    </p>
  </div>

</div>