/* Header
-------------------------------------------------------------- */

header {
  height:35px;
  background: asset-url('satinweave.png');
  position:relative;
  font-family: $font-3;

  a#logo {
    display:block;
    width:100px;
    height:100px;
    position:absolute;
    top:5px;
    z-index: 200;
    &:hover img {
      @include opacity(1);
      margin-top:5px;
    }

    img {
      @include transition(all 0.1s ease-in-out);
    }

  }

  form#search-form {
    float:left;
    margin-left:130px;

    input {
      width:280px;
      padding:2px 5px;
      line-height:18px;
      margin-top:5px;
      border:1px solid $color-grey-light-4;
      background:$color-grey-light-1;
    }

  }

  nav {
    float:right;
    text-align:right;

    ul li {
      display:inline-block;
      line-height:28px;
      font-size:12px;
      font-weight:bold;
      padding: 0 15px;
      border-top:4px solid transarent;
      &:hover {
        a {
          color:$color-primary-1;
        }
        [class^="icon-"] {
          background-image: asset-url('icons-red.png');
        }
      }
      &.current {
        border-top:4px solid $color-primary-1;
        a {
          color:$color-primary-1;
        }
        [class^="icon-"] {
          background-image: asset-url('icons-red.png');
        }
      }


      a {
        color:#555;
        display:block;
        &.no-text {
          position:relative;
          .text {
            display:none;
          }
          [class^="icon-"] {
            margin-right:0px;
          }
        }

        .notif {
          @include opacity(0.8);
          padding: 0px 3Px;
          left: 10px;
          position: absolute;
          @include border-radius(20%);
          text-align: center;
          font-size: 10px;
          font-weight: normal;
          width: auto;
          line-height: 13px;
          height: 13px;
          background: $color-primary-1;
          display: inline-block;
          color: $color-white;
        }

      }

      [class^="icon-"] {
        margin-right:5px;
      }

    }

  }

  #notifications {
    display:none;
    position: absolute;
    width: 300px;
    top: 35px;
    left: 50%;
    margin-left: -150px;
    z-index: 100;
    padding: 5px 10px;
    text-align:left;
    background: $color-grey-light-1;
    border-top: 2px solid $color-primary-1;
    border-left: 1px solid $color-grey-light-4;
    border-right: 1px solid $color-grey-light-4;
    border-bottom: 1px solid $color-grey-light-4;

    ul {
      font-size:12px;

      li {
        border-bottom: 1px solid $color-grey-light-3;
        line-height: 15px;
        padding: 5px;
        &:last-child {
          border-bottom:none;
        }
        a {
          color:$color-grey-dark-3;
          .red {
            font-weight: bold;
          }

        }
      }

    }

  }

  a#toggle-menu {
    display: none;
    float: right;
    text-align: center;
    background: $color-grey-light-3;
    padding: 4px;
    margin-top: 4px;
    border: 1px solid $color-grey-regular-1;
    @include border-radius(2px);
    &:hover {
      background: $color-grey-light-2;
    }

    i {
      margin:0;
      vertical-align:inherit;
    }
  }

}

/* Global layout
-------------------------------------------------------------- */

#container {
  background: asset-url('satinweave.png');

  .wrapper {
    background:white;
    border-left: 3px solid $color-grey-light-1;
    border-right: 3px solid $color-grey-light-1;
    padding:10px 0px 20px 0px;
    &.home {
      border-top:5px solid $color-primary-1;
      margin-top:-5px;
      z-index:300;
      position:relative;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

}

.wrapper {
  width:960px;
  margin:0 auto;
  overflow:hidden;
}

.col-1, .col-2, .col-3 {
  padding:10px;
  float:left;
  @include box-sizing(border-box);
}

.col-1 {
  width:320px;
}

.col-2 {
  width:640px;
}

.col-3 {
  width:960px;
}

.centered {
  float:none;
  margin:0 auto;
}

/* Backgrounds
-------------------------------------------------------------- */

#large_bg_img {
  display: block;
  height: 90px;
  min-width: 930px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  background: black;

  h1 {
    line-height: 24Px;
    position: absolute;
    top: 50%;
    color: $color-white;
    z-index: 400;
    left: 50%;
    width: 600px;
    margin: -12px 0px 0px -300px;
    text-align: center;
  }

  img.big {
    min-height: 750px;
    min-width: 1190px;
    width: 100%;
    position: absolute;
    bottom: -260px;
    left: 0;
  }

}

#large_bg_img_overlay {
  background: asset-url('fill.png') repeat;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

/* Footer
-------------------------------------------------------------- */

footer {
  background: asset-url('bg-k20.png');
  border-top:5px solid $color-grey-light-2;
  overflow:hidden;

  .col-left, .col-middle, .col-right {
    width:33.33%;
    float:left;
    padding:0px 15px;
    @include box-sizing(border-box);
  }

  h3 {
    width: 70%;
    border-bottom: 3px solid $color-grey-light-2;
    color: $color-primary-1;
    float: left;
    font-size: 18px;
    margin: 0px 0px 15px 0px;
    padding: 15px 0px 5px 0px;
  }

  p {
    clear:both;
    font-size:12px;
    padding:0px 30px 0px 0px;
    line-height:16px;
  }

  #copyright {
    color:#777777;
    font-size:10px;
    padding:60px 0px 5px 0px;
    text-align:center;
    clear:both;
  }

}

#footer-menu-back-to-top {
  margin: 10px;
  z-index: 999;
  a {
    width: 30px;
    height: 30px;
    float:right;
    display: block;
    background-color: $color-primary-1;
    background-image: asset-url('scroll-top-top.png');
    background-repeat: no-repeat;
    background-position: 50%;
    @include transition(all 0.1s ease-in-out);
    &:hover { background-color: #aaa; }
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {

  header {
    nav {
      display:none;
      position: absolute;
      top: 35px;
      right: 0;
      padding: 15px 20px 15px 20px;
      width: 100%;
      background: rgba(0,0,0,0.9);
      text-align: center;
      box-sizing: border-box;
      z-index:199;

      > ul > li {

        &:first-child {
          display:none;
        }

        display:block;
        padding:0px;

        [class^="icon-"] {
          display:none;
        }

        a {
          color: $color-grey-light-3;
          font-size: 16px;
          &.no-text {
            .text {
              display:inline-block;
            }
          }
          .notif {
            display:none;
          }

        }

        &.current {
          border-top:none;
        }
      }

      #notifications {
        display: block;
        position: static;
        width: inherit;
        top: inherit;
        left: inherit;
        margin-left: inherit;
        margin-top: 10px;
        text-align:center;
        z-index: inherit;
        padding: 5px 0px 0px 0px;
        background: none;
        border-top: 1px solid $color-grey-regular-2;
        border-left: inherit;
        border-right: inherit;
        border-bottom: inherit;

        ul li {
          display:block;
          border-bottom:none;
          padding: 10px 0 0 0;

          a {
            color: $color-grey-light-3;
          }
        }

      }

    }

    a#toggle-menu {
      display:block;
    }
  }

  .wrapper {
    width:100% !important;
    padding: 0 20px;
    @include box-sizing(border-box);
  }

  .col-1, .col-2, .col-3 {
    width:100%;
    float:none;
  }

  footer {
    .col-left, .col-middle, .col-right {
      width:100%;
      padding:10px 15px;
      float:none;
      @include box-sizing(border-box);
    }
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 991px) {

  header {
    nav span.text {
      display:none;
    }
  }

  .wrapper {
    width:726px;
    padding: 0 20px;
    @include box-sizing(border-box);
  }

  .col-1, .col-2, .col-3 {
    padding:10px;
  }

  .col-1 {
    width:240px;
  }

  .col-2 {
    width:480px;
  }

  .col-3 {
    width:720px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

  header {
    #main-menu {
      display: block !important;
    }
  }

  .wrapper {
    width:960px;
  }

  .col-1, .col-2, .col-3 {
    padding:15px;
  }

  .col-1 {
    width:320px;
  }

  .col-2 {
    width:640px;
  }

  .col-3 {
    width:960px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  header {
    #main-menu {
      display: block !important;
    }
  }

  .wrapper {
    width:1140px;
  }

  .col-1, .col-2, .col-3 {
    padding:20px;
  }

  .col-1 {
    width:380px;
  }

  .col-2 {
    width:760px;
  }

  .col-3 {
    width:1140px;
  }

}
