#announcement-form,
#registration-form {
  background:$color-grey-light-2;
  padding:10px;
  @include border-radius(3px);
  overflow:hidden;

  p:last-child {
    margin-bottom:0px;
  }

  label {
    float: left;
    display: inline-block;
    width: 190px;
    margin-right: 15px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    color: $color-grey-dark-3;
    padding: 4px 5px;
    line-height: 13px;
    border-radius: 3px;
    border: 1px solid $color-grey-light-4;
  }

  input#time_from, input#time_end {
    width:100px;
    margin:0px 5px;
  }

  textarea {
    width:360px;
    resize:none;
  }

  input[type="submit"] {
    float:right;
  }

  [class^="icon-"] {
    margin-right:5px;
  }

}