<div id="large_bg_img" class="clearfix">
  <div id="large_bg_img_overlay"></div>
  <%= image_tag('bg2.jpg', :class => 'big') %>
</div>

<header>
  <div class="wrapper"></div>
</header>

<section id="container">

  <div class="wrapper">

    <div id="intro">
      <h1>Meet for Meal</h1>
      <%= link_to homepage_path do %>
        <%= image_tag('logo.png', :class => 'big') %>
      <% end %>
      <h2>Eat better. Eat together.</h2>
    </div>

    <div id="login">
      <div id="welcome">
        <h2>Un réseau de partage</h2>
        <p>
          Meet for Meal est un réseau qui permet de trouver des partenaires de repas à travers une recherche en temps réel qui vous connecte aux personnes proches de vous.
        </p>
        <p>
          Trouvez simplement des partenaires culinaires que vous pensez être les plus intéressants pour partager un repas avec vous.
        </p>
      </div>

      <form id="login-form" action="index.html">
        <p>
          <label for="email">Entrez votre email</label>
          <input type="text" id="email" name="email" value="">
        </p>
        <p>
          <label for="password">Entrez votre mot de passe</label>
          <input type="password" id="password" name="password">
        </p>
        <p>
          <input type="submit" value="Se connecter">
        </p>
      </form>

      <p id="extra-form">
        <a href="register.html">Cliquez ici pour ouvrir un compte Meet for Meal</a>
      </p>
    </div>

  </div>

</section>

<footer></footer>
