<% content_for :header do -%>
  <%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css' %>
<% end -%>

<h3>Home</h3>

<div id="venues-map"></div>

<% content_for :footer do -%>
  <%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js' %>
<% end -%>
