<div id="large_bg_img" class="clearfix">
  <div id="large_bg_img_overlay"></div>
  <%= image_tag('bg2.jpg', :class => 'big') %>
</div>

<header>
  <div class="wrapper"></div>
</header>

<section id="container">

  <div class="wrapper">

    <div id="intro">

      <h1>Meet for Meal</h1>

      <%= link_to(root_path) do %>
        <%= image_tag('logo.png', :id => 'logo') %>
      <% end %>

      <h2>
        Eat better. Eat together.
      </h2>

    </div>

    <div id="welcome">
      <p>
          <strong>Meet for Meal</strong> ouvrira très bientôt ses portes.<br>
          Rendez-vous sur notre page <a href="https://www.facebook.com/meetformeal" target="_blank">Facebook</a> pour plus d'informations.
      </p>

      <div id="fb-iframe">
          <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmeetformeal&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=355885751119934" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:480px; height:290px; background:#FFF;" allowTransparency="true"></iframe>
      </div>
    </div>

  </div>

</section>
