<div class="categories">
  <label>
    <input type="checkbox" name="4bf58dd8d48988d16a941735" checked=""> Boulangerie
  </label>
  <label>
    <input type="checkbox" name="50327c8591d4c4b30a586d5d" checked=""> Brasserie
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d16c941735" checked=""> Lieu servant des hamburgers
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d145941735" checked=""> Restaurant chinois
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d147941735" checked=""> Café-restaurant
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d16e941735" checked=""> Fast-food
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d10c941735" checked=""> Restaurant français
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d10e941735" checked=""> Restaurant grec
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d10f941735" checked=""> Restaurant indien
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d111941735" checked=""> Restaurant japonais
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d113941735" checked=""> Restaurant coréen
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1ca941735" checked=""> Pizzeria
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1c5941735" checked=""> Sandwicherie
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1ce941735" checked=""> Restaurant de fruits de mer
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1c7941735" checked=""> Snack
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1cc941735" checked=""> Restaurant-grill
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1d2941735" checked=""> Bar à sushis
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1db931735" checked=""> Bar à tapas
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d149941735" checked=""> Restaurant thaïlandais
  </label>
  <label>
    <input type="checkbox" name="4f04af1f2fb6e1c99f3db0bb" checked=""> Restaurant turc
  </label>
  <label>
    <input type="checkbox" name="4bf58dd8d48988d1d3941735" checked=""> Restaurant végétarien/végétalien
  </label>
</div>
