<div id="restaurant-map" style="position:relative;">
  <div id="googlemaps-container-top"></div>
  <div id="googlemaps" class="google-map google-map-full"></div>
  <div id="googlemaps-container-bottom"></div>
</div>

<div class="wrapper">
  <div id="map-action-bar">
    <div class="actions">
      <button class="btn find-venues">
        <i class="icon-search"></i> Rechercher
      </button>
      <button class="btn check-all">
        <i class="icon-check"></i> Tout cocher
      </button>
      <button class="btn uncheck-all">
        <i class="icon-remove"></i> Tout décocher
      </button>
    </div>
    <%= render 'categories' %>
  </div>

  <hr>

  <div class="js-manual-location">
    <h4 class="hidden">Nous n'arrivons pas à trouver votre position</h4>
    <h3>Définir sa position manuellement</h3>
    <form>
      <p>
        <label>Trouver sa position :</label>
        <input name="position" type="text"><input type="submit" class="btn" value="Définir">
      </p>
    </form>
  </div>

  <div class="col-3">
    <hr>
    <h2>Les restaurants autour de vous</h2>
    <ul id="search-result"></ul>
  </div>
</div>