<div id="restaurant-map" style="position:relative;">
  <div id="googlemaps-container-top"></div>
  <div id="googlemaps" class="google-map google-map-full"></div>
  <div id="googlemaps-container-bottom"></div>
</div>

<div class="wrapper">
  <div id="map-action-bar">
    <div class="actions">
      <button class="btn find-venues">
        <i class="icon-search"></i>Rechercher
      </button>
      <button class="btn check-all">
        <i class="icon-check"></i>Tout cocher
      </button>
      <button class="btn uncheck-all">
        <i class="icon-remove"></i>Tout décocher
      </button>
    </div>
    <%= render 'categories' %>
  </div>

  <hr>

  <div class="js-manual-location">
    <h4 class="hidden">Nous n'arrivons pas à trouver votre position</h4>
    <h3>Définir sa position manuellement</h3>
    <form>
      <p>
        <label>Trouver sa position :</label>
        <input name="position" type="text"><input type="submit" class="btn" value="Définir">
      </p>
    </form>
  </div>

  <div class="col-3">
    <hr>
    <h2>Les restaurants autour de vous</h2>
    <ul id="search-result">
      <!-- <li class="featured">
        <img src="https://foursquare.com/img/categories_v2/food/sandwiches_bg_32.png" class="restaurant-category">
        <p class="restaurant-description">
          <span><strong class="title red">BALT</strong></span><br>
          <span>Catégorie : <strong>Sandwicherie</strong></span><br>
          <span>Adresse : <strong>15, rue Monsigny Paris (75002) </strong></span><br>
          <span>&laquo; Les sandwichs Balt doivent beaucoup à la baguette Julien. Ils sont à composer soi-même : rosbif, œuf dur écrasé, poivron mariné ou mayonnaise au basilic etc. &raquo;</span><br>
          <a href="#" class="btn"><i class="icon-eye-open icon-red"></i>Consulter</a>
        </p>
      </li> -->
    </ul>
  </div>
</div>