@import "compass/css3";
@import "general/base";

.home-index {

  #googlemaps-container-top {
    position: relative;
    z-index: 2;
    @include box-shadow(inset 0px 3px 3px rgba(0,0,0,.25));
    height: 20px;
  }

  #googlemaps-container-bottom {
    position: relative;
    z-index: 2;
    @include box-shadow(inset 0px -3px 3px rgba(0,0,0,.25));
    height: 20px;
    margin-top: -40px;
    border-bottom: 5px solid $color-grey-light-1;
  }

  #googlemaps{
    position: relative;
    z-index: 1;
    height: 400px;
    width: 100%;
    top: -20px;
  }

  #closest-users {
    background: rgba(255,255,255,0.8);
    right: 20px;
    z-index: 198;
    bottom: 40px;
    position: absolute;

    h3 {
      background:rgba(0,0,0,0.8);
      padding:10px;
      color:$color-grey-light-3;
      @include border-radius(3px 3px 0px 0px);
    }

    a {
      color:$color-grey-dark-3;
      &:hover {
        color:$color-primary-1;
      }
    }

    ul {
      padding:10px;

      li.user {
        clear:both;
        overflow:hidden;
        margin-bottom:5px;

        img {
          float:left;
          margin:0px 5px 5px 0px;
        }

        span {
          display:block;
        }

      }

      .user-title {
        font-size:14px;
        font-weight:bold;
      }

      .user-time {
        font-size:11px;
      }

      .user-tags {
        font-size:12px;
      }

    }

  }

  #current-user {

    img {
      float:left;
      margin:0px 10px 10px 0px;
    }

    h3 {
      clear:none;
    }

    span {
      display:block;
      font-size:12px;
      line-height:25px;
    }

  }


  #user-search-form {
    background:$color-grey-light-2;
    padding:10px;
    @include border-radius(3px);

    p:last-child {
      margin-bottom:0px;
    }

    .btn {
      float:right;
    }

    label {
      display: inline-block;
      width: 120px;
      margin-right: 15px;
    }

    input[type="text"] {
      color: $color-grey-dark-3;
      padding: 4px 5px;
      line-height: 13px;
      border-radius: 3px;
      border: 1px solid $color-grey-light-4;
    }

  }

  #featured-restaurants {
    margin: 30px 0;

    .restaurant {
      position:relative;
      width:100%;
      height:auto;
      cursor:pointer;
      &:hover {
        @include opacity(0.9);
      }

      img {
        width:100%;
        height:100%;
      }

    }

    .restaurant-infos {
      position:absolute;
      bottom:0;
      width:100%;
      padding:10px 15px;
      background: rgba(93, 38, 21, 0.68);
      @include box-sizing(border-box);

      a, h3 {
        color:$color-white;
      }

      p {
        margin:5px 0px 0px 0px;
      }

    }


  }

  #nav {

    a {
      display: inline-block;
      background: $color-grey-light-2;
      color: $color-white;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-weight: normal;
      margin-right:5px;
      &.activeSlide {
        background: $color-primary-1;
      }
    }

  }

  #user-search-form input {
    width: 130px;
  }

  #user-search-form p:last-child input {
    width: 70%;
  }

}