<footer>
  <div class="wrapper">

    <div class="col-left">
      <h3>À propos de Meet For Meal</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br>
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="col-middle">
      <h3>Contactez-nous</h3>
      <p>
        <strong>Meet For Meal</strong><br>
        61 rue lafayette<br>
        93100 Rue Rapatal<br>
        FRANCE<br>
        <a href="mailto:contact@meetformeal.com">contact@meetformeal.com</a>
      </p>
    </div>

    <div class="col-right">

      <h3>Suivez-nous</h3>

      <div id="footer-menu-back-to-top">
        <a href="#"></a>
      </div>

      <p>
        Nos pages Facebook et Twitter seront bientôt disponibles !
      </p>

    </div>

    <div id="copyright">
      <p>
        &copy; 2014, Meet For Meal.
      </p>
    </div>

  </div>
</footer>
