<header>

  <div class="wrapper">

    <%= link_to homepage_path, { id: 'logo' } do %>
      <%= image_tag 'logo-mini.png' %>
    <% end %>

<!--     <form id="search-form" action="userpage.html">
      <input type="text" name="search" placeholder="Rechercher une personne ou un restaurant...">
    </form> -->

    <%= render 'layouts/navigation_links' %>

    <a href="#" id="toggle-menu"><i class="icon-align-justify"></i></a>

  </div>

</header>