<header>

  <div class="wrapper">

    <%= link_to homepage_path, { id: 'logo' } do %>
      <%= image_tag 'logo-mini.png' %>
    <% end %>

<!--     <form id="search-form" action="userpage.html">
      <input type="text" name="search" placeholder="Rechercher une personne ou un restaurant...">
    </form> -->

    <%= render 'layouts/navigation_links' %>

    <div id="notifications">
      <ul>
        <li>
          <a href="#">
            <span class="red">Alexandra Martin</span> a proposé une annonce.<br>
            <span class="message-date">28/02/2013 à 14h42</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="red">Rémy Hannequin</span> souhaite devenir votre ami.<br>
            <span class="message-date">28/02/2013 à 14h42</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="red">Pierre Grimaud</span> a proposé une annonce.<br>
            <span class="message-date">28/02/2013 à 14h42</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="red">Romain Deligny</span> a proposé une annonce.<br>
            <span class="message-date">28/02/2013 à 14h42</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

</header>